<div class='padding-2r'>
    <div fxLayout='col'>
      <div fxFlex='20'>
        <a *ngIf="isAdmin" class='full-width' mat-raised-button color="primary" routerLink="/preparar-acta" routerLinkActive="active"
        [disabled]="minuteAlreadyPrepared" title="{{minuteAlreadyPrepared ? 'Ya existe un acta preparada' : ''}}">
          Preparar acta
          <mat-icon>note_add</mat-icon>
        </a>
        <mat-selection-list #minuteList [multiple]='false' (selectionChange)="onSelectedMinute(minuteList.selectedOptions.selected[0])">
          <mat-list-option *ngFor="let minute of minutes" [value]='minute._id' [title]="getMinuteTitle(minute.phase)">
            <mat-icon class='phase-{{minute.phase}}' mat-list-icon>{{getMinuteIcon(minute.phase)}}</mat-icon>
            <h3 matLine>Reunión {{minute.enum}}</h3>
            <p matLine>{{minute.date.toLocaleString().slice(0, 10)}}</p>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <div fxFlex class="minute-div">
        <app-minute [minuteId]='minuteSelectedId' [isAdmin]='isAdmin'></app-minute>
      </div>
    </div>
  </div>
  
