<div>
    <mat-card class="kanban-card">
        <mat-card-title class="title" >Tareas</mat-card-title>
        <mat-card-content class="padding-2r">
            <div class='align-right'>
                Ver solo mis tareas
                <mat-slide-toggle [(ngModel)]='seeAllTasks'>Ver todas las tareas</mat-slide-toggle>
            </div>
            <div fxLayout='col' class='kanban'>
                <div fxFlex='20' class="list-container">
                    <h2>Nuevas</h2>
                
                    <div id="newList" cdkDropList #newList="cdkDropList" [cdkDropListData]="tasks.new"
                        [cdkDropListConnectedTo]='newConnected' class="list" (cdkDropListDropped)="drop($event)">
                        <div class="list-item" *ngFor="let task of tasks.new" cdkDrag (click)="openTask(task)">
                            {{ task.compromise.content }}
                            <div *ngIf="task.user" class='full-width align-right'>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                    {{getInitials(task.user)}}
                                  </button>
                            </div>
                        </div>
                        <div *ngIf="!tasks.new.length" class="list-item" cdkDrag>
                            No hay tareas nuevas
                        </div>
                    </div>
                </div>
                <div fxFlex='20' class="list-container">
                    <h2>Desarrollándose</h2>
                
                    <div id="doingList" cdkDropList #doingList="cdkDropList" [cdkDropListData]="tasks.doing"
                        [cdkDropListConnectedTo]='doingConnected'class="list" (cdkDropListDropped)="drop($event)">
                        <div class="list-item align" *ngFor="let task of tasks.doing" cdkDrag (click)="openTask(task)">
                            {{ task.compromise.content }}
                            <div *ngIf="task.user" class='full-width align-right'>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                    {{getInitials(task.user)}}
                                  </button>
                            </div>
                        </div>
                        <div *ngIf="!tasks.doing.length" class="list-item" cdkDrag>
                            No hay tareas desarrollándose
                        </div>
                    </div>
                </div>
                <div fxFlex='20' class="list-container">
                    <h2>Pausadas</h2>
                
                    <div id="pausedList" cdkDropList #pausedList="cdkDropList" [cdkDropListData]="tasks.paused"
                    [cdkDropListConnectedTo]='pausedConnected' class="list" (cdkDropListDropped)="drop($event)">
                        <div class="list-item" *ngFor="let task of tasks.paused" cdkDrag (click)="openTask(task)">
                            {{ task.compromise.content }}
                            <div *ngIf="task.user" class='full-width align-right'>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                    {{getInitials(task.user)}}
                                  </button>
                            </div>
                        </div>
                        <div *ngIf="!tasks.paused.length" class="list-item" cdkDrag>
                            No hay tareas pausadas
                        </div>
                    </div>
                </div>
                <div fxFlex='20' class="list-container">
                    <h2>Evaluando</h2>
                
                    <div id="testingList" cdkDropList #testingList="cdkDropList" [cdkDropListData]="tasks.testing"
                    [cdkDropListConnectedTo]='testingConnected' class="list" (cdkDropListDropped)="drop($event)">
                        <div class="list-item" *ngFor="let task of tasks.testing" cdkDrag (click)="openTask(task)">
                            {{ task.compromise.content }}
                            <div *ngIf="task.user" class='full-width align-right'>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                    {{getInitials(task.user)}}
                                  </button>
                            </div>
                        </div>
                        <div *ngIf="!tasks.testing.length" class="list-item" cdkDrag>
                            No hay tareas evaluándose
                        </div>
                    </div>
                </div>
                <div fxFlex='20' class="list-container">
                    <h2>Finalizadas</h2>
                
                    <div id="endedList" cdkDropList #endedList="cdkDropList" [cdkDropListData]="tasks.ended"
                    [cdkDropListConnectedTo]='endedConnected' class="list" (cdkDropListDropped)="drop($event)">
                        <div class="list-item" *ngFor="let task of tasks.ended" cdkDrag (click)="openTask(task)">
                            {{ task.compromise.content }}
                            <div *ngIf="task.user" class='full-width align-right'>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                                    {{getInitials(task.user)}}
                                  </button>
                            </div>
                        </div>
                        <div *ngIf="!tasks.ended.length" class="list-item" cdkDrag>
                            No hay tareas finalizadas
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
