<div>
    <mat-card *ngIf="isExternalEditing()" class="editing-card">
        {{getEditorName()}} está editando...
    </mat-card>
    <mat-list *ngIf='!editing; else editorInput'>
        <mat-list-item>
            <p class='minute-text'>{{value}}</p>
            <button mat-icon-button color="primary" (click)='switchEdition()'
                [disabled]="isExternalEditing()">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
    <ng-template #editorInput>
        <div>
            <mat-form-field appearance="standard" class='editing-input'>
                <textarea matInput cdkTextareaAutosize [(ngModel)]='value' (keyup)='edit($event)'></textarea>
            </mat-form-field>
            <button mat-icon-button color="primary" class="float-r" (click)='switchEdition()'>
                <mat-icon>edit_off</mat-icon>
            </button>
        </div>
    </ng-template>
</div>