.sessions-layout {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-card {
    margin-top: -20vh;
    width: 60vw;
}

#login-div {
    border-left: lightgray solid 1px;
    min-height: 40vh;
    padding: 2rem 3rem;
}

.login-icon {
    display: block;
    margin: 0 auto;
}

.login-button {
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
}

.child-1{
    background-color: orange;
    }
    .child-2{
    background-color: yellow;
    }
    .child-3{
    background-color: green;
    }
    
    .container{
     margin: 15px;
     height:200px;
     border:2px solid red;
    }