<mat-toolbar color='primary'>
  <img class='toolbar-icon' src="assets/img/logoActas.png">
  <span> actasdialógicas | BdT San Miguel</span>
  <span class='toolbar-spacer'></span>
  <div *ngIf="logged">
    <a mat-flat-button color="primary" routerLink="/actas" routerLinkActive="active">
      Actas
    </a>
    <a mat-flat-button color="primary" routerLink="/tablero" routerLinkActive="active">
      Tareas
    </a>
    <a mat-flat-button color="primary" routerLink="/recordatorios" routerLinkActive="active">
      Recordatorios
    </a>
    <a mat-flat-button color="primary" routerLink="/usuarios" routerLinkActive="active">
      Usuarios
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <a mat-menu-item routerLink="/actas" routerLinkActive="active">Mi perfil</a>
      <a mat-menu-item (click)="logOut()" >Cerrar sesión</a>
    </mat-menu>
  </div>
</mat-toolbar>

<div class='container'>
  <router-outlet></router-outlet>
</div>
