<mat-card *ngIf="minute" class='minute-card'>
    <mat-card-title>
        <h1 class='inline-block title'><b>Acta reunión {{ minute.enum }}</b></h1>
        <h3 class='float-r'>{{minute.place}}, {{minute.date.toLocaleString()}}. Inicio: {{minute.startTime}}</h3>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <p *ngIf='minute.description' class='minute-text'>{{ minute.description }}</p>
        <mat-divider></mat-divider>
        <h1>Asistentes</h1>
        <p></p>
        <mat-divider></mat-divider>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="!minute && !loading" class='minute-card'>
    <h2 id='no-data-text'>No ha seleccionado ninguna acta</h2>
</mat-card>
<mat-card *ngIf="loading" class='minute-card'>
    <mat-spinner id='minute-spinner'></mat-spinner>
</mat-card>

