.minute-card {
    padding: 2rem 5rem;
    min-height: 65vh;
    margin: 0 1rem;
}

.minute-text {
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.info-text {
    text-align: right;
}

#no-data-text {
    text-align: center;
    margin-top: 30%;
}

#minute-spinner {
    margin: 20% auto;
}

.start-minute-btn {
    background-color: green;
    margin-left: 1rem;
}