.info-text {
    text-align: right;
}

.edit-button {
    margin-left: 1rem;
}

.editing-annex-card {
    position: absolute;
    width: 10vw;
    right: -12vw;
    
}

.meeting-data {
    position: sticky;
    top: 160px;
    z-index: 1;
}

.icon-image-btn {
    height: 24px;
}

.icon-btn {
    background-color: white;
    margin-left: 1rem;
}