<div>
    <app-meeting-phase [phase]="1"></app-meeting-phase>
    <mat-card class="meeting-data">
        <h2 *ngIf="lastChangesDate">Últimos cambios realizados a las {{lastChangesDate.toLocaleString()}}</h2>
    </mat-card>
    <mat-card class="minute-collab-card">
        <mat-card-title>
            <h1 class='inline-block title'><strong>Acta en desarrollo</strong></h1>
        </mat-card-title>
        <mat-card-content>
            <div *ngIf="minute" class='padding-2r'>
                <div *ngIf='minute.header'>
                    <div>
                        <h2 class='inline-block'>Encabezado</h2>
                        <button class='edit-button' mat-icon-button color="primary" (click)='switchEdit({attribute: "header"})' [disabled]='externalEditions.header.editing'>
                            <mat-icon *ngIf='!localEditions.header'>edit</mat-icon>
                            <mat-icon *ngIf='localEditions.header'>edit_off</mat-icon>
                        </button>
                        <mat-chip-list *ngIf='externalEditions.header.editing' class='inline-block' aria-label="Editores">
                            <mat-chip color='primary' selected>El usuario {{externalEditions.header.editorName}} está editando este campo...</mat-chip>
                        </mat-chip-list>
                    </div>
                    <p *ngIf='!localEditions.header' class='minute-text'>{{ minute.header }}</p>
                    <div *ngIf='localEditions.header' class='align-right'>
                        <mat-form-field appearance="standard" class='full-width'>
                            <textarea #headerInput matInput cdkTextareaAutosize [(ngModel)]='minute.header' (keyup)='editBasicData("header", $event)'></textarea>
                        </mat-form-field>
                        <button mat-icon-button color="primary" (click)='switchEdit({attribute: "header"})'>
                            <mat-icon>edit_off</mat-icon>
                        </button>
                    </div>
                </div>
                <h3 class="info-text">{{getMinuteDatePlaceData}}</h3>
                <div *ngIf='minute.description'>
                    <div>
                        <h2 class='inline-block'>Descripción</h2>
                        <button class='edit-button' mat-icon-button color="primary" (click)='switchEdit({attribute: "description"})' [disabled]='externalEditions.description.editing'>
                            <mat-icon *ngIf='!localEditions.description'>edit</mat-icon>
                            <mat-icon *ngIf='localEditions.description'>edit_off</mat-icon>
                        </button>
                        <mat-chip-list *ngIf='externalEditions.description.editing' class='inline-block' aria-label="Editores">
                            <mat-chip color='primary' selected>El usuario {{externalEditions.header.editorName}} está editando este campo...</mat-chip>
                        </mat-chip-list>
                    </div>
                    <p *ngIf='!localEditions.description' class='minute-text'>{{ minute.description }}</p>
                    <div *ngIf='localEditions.description' class='align-right'>
                        <mat-form-field appearance="standard" class='full-width'>
                            <textarea #headerInput matInput cdkTextareaAutosize [(ngModel)]='minute.description' (keyup)='editBasicData("description", $event)'></textarea>
                        </mat-form-field>
                        <button mat-icon-button color="primary" (click)='switchEdit({attribute: "description"})'>
                            <mat-icon>edit_off</mat-icon>
                        </button>
                    </div>
                </div>
                <h1>Asistentes</h1>
                <mat-list>
                    <mat-list-item *ngFor="let participant of minute.participants">{{participant.user.name}} ({{participant.user.email}})</mat-list-item>
                </mat-list>
                <h1>Compromisos previos</h1>
                <p *ngIf='!minute.previousCompromises.length' class='minute-text'>No hay compromisos previos</p>
                <div *ngIf='minute.previousCompromises.length'>
                    <h4 *ngFor="let compromise of minute.previousCompromises; let i = index">{{i+1}}. {{compromise.content}}</h4>
                </div>
                <div>
                    <div>
                        <h1 class='inline-block'>Tabla de la reunión</h1>
                        <button class='edit-button' mat-icon-button color="primary" (click)='addTopic()'>
                            <mat-icon matTooltip="Agregue un nuevo tema a la reunión"
                            matTooltipPosition="above">add_circle_outline</mat-icon>
                        </button>
                    </div>
                    <mat-list>
                        <mat-list-item *ngFor="let topic of minute.topics">{{topic.enum}}. {{topic.name}}</mat-list-item>
                    </mat-list>
                    <mat-chip-list class='inline-block' aria-label="Agregadores">
                        <mat-chip *ngFor='let edition of externalEditions.addingTopic' color='primary' selected>
                            El usuario {{edition.editorName}} está agregando un nuevo tema...
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <h1>Desarrollo</h1>
                <div *ngFor="let topic of minute.topics">
                    <h2 class='inline-block'>{{topic.enum}}. {{topic.name}}</h2>
                    <button mat-icon-button  color="primary" (click)='addDialogueElement(topic._id)'>
                        <mat-icon matTooltip="Agregue un elemento del diálogo para el tema"
                        matTooltipPosition="above">add_reaction</mat-icon>
                    </button>
                    <button mat-icon-button  color="primary" (click)='addNote(topic._id)'>
                        <mat-icon matTooltip="Agregue una nota para el tema"
                        matTooltipPosition="above">note_add</mat-icon>
                    </button>
                    <minute-collab-edition *ngIf='topic.description' [value]='topic.description' type='topicDescription'
                            [attributeId]='topic._id' [externalEditing]="externalEditions.topicDescription[topic._id]"
                            (switchEdit)='switchEdit($event)' (onEdit)='editTopicAttribute($event)'
                    ></minute-collab-edition>
                    <div *ngFor='let note of topic.notes'>
                        <minute-collab-edition [value]='note.content' type='notes' [attributeId]='note._id'
                            [topicId]='topic._id' [externalEditing]="externalEditions.notes[note._id]"
                            (switchEdit)='switchEdit($event)' (onEdit)='editTopicAttribute($event)'
                        ></minute-collab-edition>
                    </div>
                    <div *ngFor='let diaEl of topic.dialogueElements'>
                        <minute-collab-edition [value]='diaEl.content' type='dialogueElements' [attributeId]='diaEl._id'
                            [topicId]='topic._id' [externalEditing]="externalEditions.dialogueElements[diaEl._id]"
                            [suffix]='getDialogueElementSuffix(diaEl)' (switchEdit)='switchEdit($event)' (onEdit)='editTopicAttribute($event)'
                        ></minute-collab-edition>
                    </div>
                    <mat-chip-list class='inline-block' aria-label="Agregadores">
                        <mat-chip *ngFor='let edition of filterEditions(externalEditions.addingDialogueElements, topic._id)' color='primary' selected>
                            El usuario {{edition.editorName}} está agregando un nuevo elemento del diálogo...
                        </mat-chip>
                        <mat-chip *ngFor='let edition of filterEditions(externalEditions.addingNotes, topic._id)' color='primary' selected>
                            El usuario {{edition.editorName}} está agregando una nueva nota...
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <h1 class='inline-block'>Anexos</h1>
                <button class='edit-button' mat-icon-button color="primary" (click)='addAnnex()'>
                    <mat-icon matTooltip="Agregue un nuevo anexo a la reunión"
                    matTooltipPosition="above">add_circle_outline</mat-icon>
                </button>
                <mat-list>
                    <mat-list-item *ngFor='let annex of minute.annexes' class="full-width">
                        <mat-card *ngIf="getAnnexExtEdition(annex._id).editing" class="editing-annex-card">
                            {{getAnnexExtEdition(annex._id).editorName}} está editando...
                        </mat-card>
                        <mat-icon matListIcon>assignment</mat-icon>
                        <p matLine>{{ annex.name }}</p>
                        <p matLine><a href="{{annex.url}}" target="_blank" rel="noopener">Link</a></p>
                        <button mat-icon-button (click)="editAnnex(annex)" [disabled]='getAnnexExtEdition(annex._id).editing'>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
                <mat-chip-list class='inline-block' aria-label="Agregadores">
                    <mat-chip *ngFor='let edition of externalEditions.addingAnnexes' color='primary' selected>
                        El usuario {{edition.editorName}} está agregando un nuevo anexo...
                    </mat-chip>
                </mat-chip-list>
                <h3 *ngIf="minute.endTime" class="info-text"><strong>Hora de término:</strong> {{minute.endTime}}</h3>
            </div>
        </mat-card-content>
    </mat-card>
</div>